/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.topPadding{
	padding-top:70px;
	padding-bottom:30px;
	border-radius: 5px;
}
.searchPadding{
	padding-top:70px;
	border-radius: 5px;
}

body {
	background-image: linear-gradient(grey white);
	background-repeat: no-repeat;
	background-size: cover;
}